<div class="max-w-2xl mx-auto p-6 bg-white rounded shadow">
  <h1 class="text-2xl font-bold mb-4">Novo Post</h1>

  <form action="/criar" method="POST" class="space-y-4">
    <input
      name="titulo"
      placeholder="Título"
      class="w-full border p-2 rounded"
    />

    <input name="autor" placeholder="Autor" class="w-full border p-2 rounded" />

    <textarea
      name="conteudo"
      rows="8"
      class="w-full border p-2 rounded"
      placeholder="Conteúdo"
    ></textarea>

    <button class="bg-blue-500 text-white px-4 py-2 rounded">Publicar</button>
  </form>
</div>
